@use "variables" as *;
@use "themes" as *;
@use "functions" as *;
@use "sass:map";


/** ========== Actions Off ====== **/
@mixin actions-off {
    user-select: none;
    pointer-events: none;
}

/** ========== Hover ============ **/
@mixin hover {
    @media (hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover {
            @content;
        }
    }
}

/** ==========  Hide Scroll ====== **/
@mixin hide-scroll() {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

/** ========== Font ============== **/
@mixin font($alias, $name, $weight) {
    @debug #{$alias, $name, $weight};

    @font-face {
        font-family: $alias;
        src: url("assets/fonts/" + $name + ".woff") format("woff");
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

/** ========== Ellipsis ========== **/
@mixin ellipsis($lineHeight, $lines: 2) {
    overflow: hidden;
    display: block;
    max-height: $lineHeight * $lines;
    text-overflow: ellipsis;

    @supports (-webkit-line-clamp: 4) and (-webkit-box-orient: vertical) {

        -webkit-box-orient: vertical;
        -webkit-line-clamp: $lines;
    }
}

/** ========== Fade Box ========== **/
@mixin fade-box() {
    &:before,
    &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        z-index: 3;
        height: 3.2rem;
        opacity: 1;
        visibility: visible;
        transition: $default-transition;
    }

    @include themify($themes) {
        &:before {
            background: linear-gradient(to bottom, rgba(themed(bg-soft), 1), rgba(themed(bg-soft), .5) 50%, rgba(themed(bg-soft), .1) 100%);
        }

        &:after {
            background: linear-gradient(to top, rgba(themed(bg-soft), 1), rgba(themed(bg-soft), .5) 50%, rgba(themed(bg-soft), .1) 100%);
        }
    }
}

/** ========== Respond ========== **/
@mixin respond-from($name, $bp: $breakpoints) {
    $max: breakpoint-min($name, $bp);

    @if $max {
        @media (min-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin respond-to($name, $bp: $breakpoints) {
    $max: breakpoint-max($name, $bp);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

/** ========== Custom Scroll ========== **/
@mixin custom-scroll() {
    scrollbar-width: thin;

    @include themify($themes) {
        scrollbar-color: themed(primary) themed(bg-soft);

        &::-webkit-scrollbar-thumb {
            background-color: themed(primary);
            border: $border-size-md solid themed(bg-soft);

            &:hover {
                background-color: themed(primary300);
            }
        }
    
        &::-webkit-scrollbar-track {
            background-color: themed(bg-soft);

            &:hover {
                background-color: themed(bg-prmary);
            }
        }
    }

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

/** ========== Text ========== **/
@mixin text($name) {
    /** Headings Levels: h1 | h2 | h3 | h4 | h5 | h6 **/
    @if $name == h1 {
        font-size: 4.8rem;

        @include respond-to(sm) {
            font-size: 4rem;
        }
    }
    
    @if $name == h2 {
        font-size: 4rem;

        @include respond-to(sm) {
            font-size: 3.2rem;
        }
    }
    
    @if $name == h3 {
        font-size: 3.2rem;

        @include respond-to(sm) {
            font-size: 2.8rem;
        }
    }

    @if $name == h4 {
        font-size: 2.4rem;

        @include respond-to(sm) {
            font-size: 2rem;
        }
    }

    @if $name == h5 {
        font-size: 2rem;

        @include respond-to(sm) {
            font-size: 1.8rem;
        }
    }

    @if $name == h6 {
        font-size: 1.6rem;

        @include respond-to(sm) {
            font-size: 1.4rem;
        }
    }

    @if $name == title {
        font-size: 8rem;
        line-height: 100%;
        letter-spacing: 0;
        font-weight: bold;
    }

    /** Paragraphs Levels: p1 | p2 | p3 **/
    @if $name == p1 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
    }

    @if $name == p1-medium {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
    }

    @if $name == p1-semibold {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
    }

    @if $name == p2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2;
    }

    @if $name == p2-medium {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2;
    }

    @if $name == p2-semibold {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2;
    }
    
    @if $name == p3 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2;
    }

    @if $name == p3-medium {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2;
    }

    @if $name == p3-semibold {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
    }

    /** Labels Levels: l1 | l2 | l3 **/
    @if $name == l1 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3;
    }

    @if $name == l1-medium {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.3;
    }

    @if $name == l1-semibold {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3;
    }

    @if $name == l2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2;
    }

    @if $name == l2-medium {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2;
    }

    @if $name == l2-semibold {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2;
    }

    @if $name == l3 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
    }

    @if $name == l3-medium {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
    }

    @if $name == l3-semibold {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.3;
    }
}
