/* Headings */
.h1 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.4;
}

.h2 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.32;
}

.h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

.h5 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
}

.h6 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
}

/* Paragraphs */
.p1 {
    font-size: 1.6rem;
    line-height: 1.2;

    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-normal {
        font-weight: 400;
    }
}

.p2 {
    font-size: 1.4rem;
    line-height: 1.2;

    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-normal {
        font-weight: 400;
    }
}

.p3 {
    font-size: 1.4rem;
    line-height: 1.2;

    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-normal {
        font-weight: 400;
    }
}

.p4 {
    font-size: 1.4rem;
    line-height: 1.2;

    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-normal {
        font-weight: 400;
    }
}

.p5 {
    font-size: 1.2rem;
    line-height: 1.2;

    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-normal {
        font-weight: 400;
    }
}

.p6 {
    font-size: 1.2rem;
    line-height: 1.2;

    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-normal {
        font-weight: 400;
    }
}

.text-uppercase {
    text-transform: uppercase;
}
